body {
    background-color: lavender;

}



#nameGet {
text-align: center;
margin: 20px;
padding: 10px;

}

form {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

button {
    background-color: palevioletred;
    border-radius: 5px;
}

img {
    display: block;
    margin: auto;
    
}

