.box1 {
    width: 10px;
padding: 20%;
margin: 10px;
background-color: pink;
border: 2px solid black;


}

.box2 {
width: 20px;
padding: 20px;
margin: 10px;
background-color: blue;
border: 5px solid black;

}

.box3 {
    width: 10px;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;

}

li  a:hover {
    color: black;
    text-decoration: underline;
    display: inline;
    padding: 20px;
}

/* li {
/* display: inline; */
/* margin: 30px;
padding: 20px;
text-decoration: none;
} */ */

a {
    border: solid;
    padding: 20px;
    box-shadow: 5px 10px green;
    border-radius: 10px;
}

.background {
    height: 50vh;
    background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1736010755388-68a7d4cc0d62?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    position: relative;
}

button {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    

}

#meow {
    /* display: flex; */
    width: 100px;
    height: 200px;
    margin: auto;
}

ul {
   
    justify-content: space-evenly;
    align-items: center;
    display: inline-block;
    display: flex;
}

.pikm {
    border: 5px solid black;
    padding: 10px;
    text-decoration: none;
    
}

.pikm li:hover {
    
}

img {
    width: 100%;
}